h1 {
  background-color: rgb(166, 121, 207);
  text-align: center;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  border: 1px solid black;
  background-color: Black;
  color: white;
}

.numbox {
  display: flex;
  background-color: green;
}

.symbolbox {
  display: flex;
  background-color: blue;
}

#clear {
  background-color: red;
  font-weight: bold
}